<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>ja</string>
		<key>Key</key>
		<string>from</string>
		<key>Title</key>
		<string>From</string>
		<key>Titles</key>
		<array>
			<string>Arabic</string>
			<string>Bulgarian</string>
			<string>Catalan</string>
			<string>Chinese(Simplified)</string>
			<string>Chinese(Traditional)</string>
			<string>Czech</string>
			<string>Danish</string>
			<string>Dutch</string>
			<string>English</string>
			<string>Estonian</string>
			<string>Persian(Farsi)</string>
			<string>Finnish</string>
			<string>French</string>
			<string>German</string>
			<string>Greek</string>
			<string>HaitianCreole</string>
			<string>Hebrew</string>
			<string>Hindi</string>
			<string>Hungarian</string>
			<string>Indonesian</string>
			<string>Italian</string>
			<string>Japanese</string>
			<string>Korean</string>
			<string>Latvian</string>
			<string>Lithuanian</string>
			<string>Malay</string>
			<string>HmongDaw</string>
			<string>Norwegian</string>
			<string>Polish</string>
			<string>Portuguese</string>
			<string>Romanian</string>
			<string>Russian</string>
			<string>Slovak</string>
			<string>Slovenian</string>
			<string>Spanish</string>
			<string>Swedish</string>
			<string>Thai</string>
			<string>Turkish</string>
			<string>Ukrainian</string>
			<string>Urdu</string>
			<string>Vietnamese</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>ar</string>
			<string>bg</string>
			<string>ca</string>
			<string>zh-CHS</string>
			<string>zh-CHT</string>
			<string>cs</string>
			<string>da</string>
			<string>nl</string>
			<string>en</string>
			<string>et</string>
			<string>fa</string>
			<string>fi</string>
			<string>fr</string>
			<string>de</string>
			<string>el</string>
			<string>ht</string>
			<string>he</string>
			<string>hi</string>
			<string>hu</string>
			<string>id</string>
			<string>it</string>
			<string>ja</string>
			<string>ko</string>
			<string>lv</string>
			<string>lt</string>
			<string>ms</string>
			<string>mww</string>
			<string>no</string>
			<string>pl</string>
			<string>pt</string>
			<string>ro</string>
			<string>ru</string>
			<string>sk</string>
			<string>sl</string>
			<string>es</string>
			<string>sv</string>
			<string>th</string>
			<string>tr</string>
			<string>uk</string>
			<string>ur</string>
			<string>vi</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>es</string>
		<key>Key</key>
		<string>to</string>
		<key>Title</key>
		<string>To</string>
		<key>Titles</key>
		<array>
			<string>Arabic</string>
			<string>Bulgarian</string>
			<string>Catalan</string>
			<string>Chinese(Simplified)</string>
			<string>Chinese(Traditional)</string>
			<string>Czech</string>
			<string>Danish</string>
			<string>Dutch</string>
			<string>English</string>
			<string>Estonian</string>
			<string>Persian(Farsi)</string>
			<string>Finnish</string>
			<string>French</string>
			<string>German</string>
			<string>Greek</string>
			<string>HaitianCreole</string>
			<string>Hebrew</string>
			<string>Hindi</string>
			<string>Hungarian</string>
			<string>Indonesian</string>
			<string>Italian</string>
			<string>Japanese</string>
			<string>Korean</string>
			<string>Latvian</string>
			<string>Lithuanian</string>
			<string>Malay</string>
			<string>HmongDaw</string>
			<string>Norwegian</string>
			<string>Polish</string>
			<string>Portuguese</string>
			<string>Romanian</string>
			<string>Russian</string>
			<string>Slovak</string>
			<string>Slovenian</string>
			<string>Spanish</string>
			<string>Swedish</string>
			<string>Thai</string>
			<string>Turkish</string>
			<string>Ukrainian</string>
			<string>Urdu</string>
			<string>Vietnamese</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>ar</string>
			<string>bg</string>
			<string>ca</string>
			<string>zh-CHS</string>
			<string>zh-CHT</string>
			<string>cs</string>
			<string>da</string>
			<string>nl</string>
			<string>en</string>
			<string>et</string>
			<string>fa</string>
			<string>fi</string>
			<string>fr</string>
			<string>de</string>
			<string>el</string>
			<string>ht</string>
			<string>he</string>
			<string>hi</string>
			<string>hu</string>
			<string>id</string>
			<string>it</string>
			<string>ja</string>
			<string>ko</string>
			<string>lv</string>
			<string>lt</string>
			<string>ms</string>
			<string>mww</string>
			<string>no</string>
			<string>pl</string>
			<string>pt</string>
			<string>ro</string>
			<string>ru</string>
			<string>sk</string>
			<string>sl</string>
			<string>es</string>
			<string>sv</string>
			<string>th</string>
			<string>tr</string>
			<string>uk</string>
			<string>ur</string>
			<string>vi</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>inverse</string>
		<key>Title</key>
		<string>Inverse?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
